<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  	<p>
  	  Splurty was shamelessly hacked by <a target="_blank" href="https://github.com/jasonjoy">Jason Joy</a> as his first coding project.
  	</p>

  	<div class="col-xs-12 col-sm-4">
  	  <%= image_tag 'JasonHalfDome.jpg', :class => 'img-responsive' %>	
  	</div>

  	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  		<h2 class="text-center">Jason Joy</h2>
  		<br />
  		<p>
  		  Jason Joy lives in Morgan Hill, California with his wife, son, and two dogs. Jason works as an InfoSec Program Manager for <a target="_blank" href="http://www.adobe.com/security.html">Adobe Systems</a>. When he hangs up his tin foil hat for the weekend, you may find Jason exploring the Bay Area with his family, taking pictures, riding his motorcycle, hiking, or travelling.
  		</p>
  	</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
